body {
    background-image: url('background1.jpg');
    background-size: cover;

}

.title{
    text-align: center;
    font-size: 50px;
}

.container{
    display: flex;
    justify-content: center;
    
    
}

.input-search{
    width: 300px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
    margin-right: 5px;
}

#btn-search{
    border-radius: 10px;
    font-family: "Oswald", sans-serif;
    background-color: blue;
    color: white;
    height: 55px;
    width: 100px;
    font-size: 20px;
}

#InformationContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}



@media only screen and (max-width: 420px) {
    body {
        background-image: url('background1.jpg');
        background-size: auto;
    }
    .title{
        font-size: 40px;
    }
    .input-search{
        width: 190px;
        height: 30px;
        font-size: 20px;
        border-radius: 10px;
        text-align: center;
    }
    #btn-search{
        height: 35px;
        width: 70px;
        font-size: 15px;
    }
    #InformationContainer{
        font-size: 40px;
    }
}









